*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    font-family: "Comic Sans MS", sans-serif;
    background-image: url('../img/3.jpg');
}

.app {
    font-family: Arial, sans-serif;

}
.navmenu{
    display: flex;
    justify-content: center;
}
.navmenu input[type="text"]{
    width: 170px;
}
button:not(DELITE):not(EDIT){
    color: black;
    background-color: #a3c9a8;
    border: 2px solid #84b59f;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
button:not(DELITE):not(EDIT):hover{
    background-color: #84b59f;
    border: 2px solid #69a297;
}
button:not(DELITE):disabled{
    background-color: gray;
    border: 2px solid dimgrey;
}
.DELITE{
    background-color: #FA8072;
    border: 2px solid #B22222;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
.DELITE:hover{
    background-color: #CD5C5C;
    border: 2px solid #8B0000;
}
.EDIT{
    background-color: #9DADDF;
    border: 2px solid #7d8ec4;
}
.EDIT:hover{
    background-color: #7d8ec4;
    border: 2px solid #6171A9;
}

input{
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
.task-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(163, 201, 168, .3);;
    border: 2px solid #50808e;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.task-card  li{
    list-style-type: none;
}
.task-card  li p{

}
.task-card input[type="text"] {
    margin-right: 10px;
}
.tables{
    display: flex;
    gap: 20px;
}
.column{

    height: 50%;
    background-color: rgba(221, 216, 196, .3);;
    border-radius: 5px;
}
.column >h2{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 20px;
}
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-container {
    width: 300px;
    background-color: rgb(221, 216, 196);;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.modal-header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-body {
    padding: 20px;
}
.modal-body li{
    list-style-type: none;
}
.modal-footer {
    padding: 10px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: flex-end;
}
.close {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

